Cliente/Connected Services/ServiceReference2/Servicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListarLocalidades">
        <s:complexType />
      </s:element>
      <s:element name="ListarLocalidadesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarLocalidadesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarxLocalidad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="localidad" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarxLocalidadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarxLocalidadResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListarLocalidadesSoapIn">
    <wsdl:part name="parameters" element="tns:ListarLocalidades" />
  </wsdl:message>
  <wsdl:message name="ListarLocalidadesSoapOut">
    <wsdl:part name="parameters" element="tns:ListarLocalidadesResponse" />
  </wsdl:message>
  <wsdl:message name="ListarxLocalidadSoapIn">
    <wsdl:part name="parameters" element="tns:ListarxLocalidad" />
  </wsdl:message>
  <wsdl:message name="ListarxLocalidadSoapOut">
    <wsdl:part name="parameters" element="tns:ListarxLocalidadResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioSoap">
    <wsdl:operation name="ListarLocalidades">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Mostrar las temperaturas</wsdl:documentation>
      <wsdl:input message="tns:ListarLocalidadesSoapIn" />
      <wsdl:output message="tns:ListarLocalidadesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarxLocalidad">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Listar temperatura filtrado por ciudad</wsdl:documentation>
      <wsdl:input message="tns:ListarxLocalidadSoapIn" />
      <wsdl:output message="tns:ListarxLocalidadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioSoap" type="tns:ServicioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarLocalidades">
      <soap:operation soapAction="http://tempuri.org/ListarLocalidades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarxLocalidad">
      <soap:operation soapAction="http://tempuri.org/ListarxLocalidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioSoap12" type="tns:ServicioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarLocalidades">
      <soap12:operation soapAction="http://tempuri.org/ListarLocalidades" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarxLocalidad">
      <soap12:operation soapAction="http://tempuri.org/ListarxLocalidad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servicio">
    <wsdl:port name="ServicioSoap" binding="tns:ServicioSoap">
      <soap:address location="https://localhost:44319/Servicio.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioSoap12" binding="tns:ServicioSoap12">
      <soap12:address location="https://localhost:44319/Servicio.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>